{% extends 'posts/base.html'%}  

  {% block title %}
    Записи сообщества {{ group.title }}
  {% endblock %}

    {% block content %}
    <div class="container py-5">
      <h1> {{ group.title }} </h1>
      <p>
        {{ group.description }}
      </p>
      {% for post in posts %}
        <article>
          <ul>
            <li>
              Автор: 
              {% if post.author.get_full_name %}
              <a href={% url "posts:profile" post.author.username %}>{{ post.author.get_full_name }}</a>
              {% else %}
              <a href={% url "posts:profile" post.author.username %}>Анонимный автор</a>
              {% endif %}
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          <p>{{ post.text }}</p>
        </article>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% include 'includes/paginator.html' %}
    </div>
  {% endblock %}